
.col-xs-12.col-lg-8.col-lg-offset-2{:style => " margin-top: 3vh; padding:15px;"}
  .portlet.light
    .portlet-title
      .caption.font-red-sunglo
        %span.caption-subject.bold.uppercase{:style => "font-size:24px"} Send Push Notification
        %br/
      .actions
        = link_to :back, :class => "btn btn-circle btn-icon-only red" do
          %i.fa.fa-arrow-left

    -# .portlet-body.form{:style => "overflow: auto"}
    .portlet-body.form
      = form_for(@notification) do |f|
        - if @notification.errors.any?
          %div{:style => "visibility: hidden; height:0;"}
            = flash[:notice] = @notification.errors.full_messages
        .form-group.form-md-line-input.form-md-floating-label
          / <textarea class="form-control" rows="3" maxlength="256"></textarea>
          = f.text_area :message, class: "form-control", rows: 3, maxlength: 256
          %label{:for => "form_control_1"} Message Text
          %span.help-block Push Notification has a max of 256 characters...
        %h3{:style => "font-size: 16px; color: #999; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: 800; letter-spacing: .2px;"} Users
        %table#users_table.table.table-striped.table-bordered.table-hover.table-checkable.order-column
          %thead
            %tr
              %th
                %label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                  %input.group-checkable{"data-set" => "#users_table .checkboxes", :type => "checkbox"}/
                  %span
              %th Email
              %th Device Token
              %th Joined
          %tbody
            - User.all.each do |user|
              %tr.odd.gradeX
                %td
                  %label.mt-checkbox.mt-checkbox-single.mt-checkbox-outline
                    = check_box_tag 'tokens[]', user.id, false, :class => 'checkboxes'
                    %span
                %td= user.email
                %td
                  - if user.device_token.present?
                    %span.label.label-sm.label-success Yes
                  - else
                    %span.label.label-sm.label-danger No
                -# %td= user.device_token
                %td{:style => "text-align:center; "}= user.created_at.strftime("%m/%d/%Y")
        .row{:style => "text-align:center"}
          = f.submit "Send", :type => "submit", :class=>"btn btn-primary", :style=>"border-radius: 5px !important; margin-top:10px; background: #FF5252; font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif'; text-shadow:none; font-variant:none; width: 92%; margin-top:30px"
