!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %title HTI | App
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{href: 'https://fonts.googleapis.com/css?family=Lato', rel: 'stylesheet'}
    %link{href:'https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900', rel: 'stylesheet'}
    %link{href: 'https://fonts.googleapis.com/css?family=Muli', rel: 'stylesheet'}
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel: 'stylesheet', type: 'text/css'}

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.main-background{'cz-shortcut-listen' => 'true'}
    = render partial: 'layouts/menu'
    .container{style: 'padding-top: 50px;'}
      - flash.each do |name, msg|
        = content_tag(:div,  msg.kind_of?(Array) ? msg.join(', ') : msg, class: "alert alert-info") if msg.length > 0
      = yield

      :javascript
        window.setTimeout(function () {
             $(".alert-info").slideUp(500, function () {
                  $(".alert-info").hide();
              });
         }, 5000);
